body {
    background-color: lightpink;
    color: black;
}

h1 { 
    color: black;
    margin-left: 20px;
}

nav a {
    padding: 15px;
    padding-bottom: 4px;
    font-size: 1.8em;
    text-decoration: none;
    color: black;
}

nav a:hover{
    border-bottom: 2px;
    font-size: 2em;
    transition:.9s;
}

header, main, nav, footer {
    text-align: center;
}

footer{
    clear: left;
}