a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

h1{
    font-size: 50px;
    color:lightgreen;
}

hr{
    width: 50%
}

nav{
    text-align: center;
}

.green{
    text-align: center;
}

footer{
    text-align: center;
}

about{
    text-align: center;
}

.hover{
    text-decoration: underline;
    color: red;
}

.about{
    max-width: 1300px;
    margin: 40px auto 0 auto;
    line-height: 1.65;
    padding: 20px 50px;
    display: flex;
}

.green{
    flex: 1;
    order: 2;
    background-color: green;
    padding: 15px;
    color: black;
    margin: 10px;
}

.lightgreen{
    flex: 1;
    order: 1;
    background-color: lightgreen;
    padding: 15px;
    color: black;
     margin: 10px;
     align-items: flex-start;
}

.sidebar-two{
    flex: 1;
    order: 3;
    background-color: #c56fff;
    padding: 15px;
     color: black;
      margin: 10px;
}

body{
    background-color: black;
    color: white;
}

a:hover{
    font-size: 1.1em;
    transition:1s;
}

h2{
    text-align: center;
    color:green;
}

.info{
    text-align: center;
    color: white;
}
