a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

h1{
    font-size: 50px;
    color:#ff5047;
}

.hover{
    text-decoration: underline;
    color: red;
}

.info2{
    max-width: 1300px;
    margin: 40px auto 0 auto;
    line-height: 1.65;
    padding: 20px 50px;
    display: flex;
}

.lite{
    flex: 1;
    order: 2;
    background-color: #ff5047;
    padding: 15px;
    color: black;
    margin: 10px;
}

.toolite{
    flex: 1;
    order: 1;
    background-color: #ff7b72;
    padding: 15px;
    color: black;
     margin: 10px;
     align-items: flex-start;
}

.red{
    flex: 1;
    order: 3;
    background-color: #ff170f;
    padding: 15px;
     color: black;
      margin: 10px;
}

header{
    text-align: center;
}
nav{
    text-align: center;
}

footer{
    text-align: center;
}

hr{
    width: 50%;
}
.dark{
    flex: 1;
    order: 4;
    background-color: #ab0c07;
    padding: 15px;
     color: black;
      margin: 10px;
}

body{
    background-color: black;
    color: white;
    text-align: center;
}

a:hover{
    font-size: 1.1em;
    transition:1s;
}

h2{
    text-align: center;
    color:#ff170f;
}

.info{
    text-align: center;
    color: white;
}
