a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

h1{
    font-size: 50px;
    color:#47bfff;
}

header{
    text-align: center;
}

sources{
    text-align: center;
}

nav{
    text-align: center;
}

hr{
    width: 50%;
}

figure{
    text-align: center;
}

works{
    text-align: center;
}

.hover{
    text-decoration: underline;
    color: red;
}

.info{
    max-width: 1300px;
    margin: 40px auto 0 auto;
    line-height: 1.65;
    padding: 20px 50px;
    display: flex;
}

.blue{
    flex: 1;
    order: 2;
    background-color: #4f7bff;
    padding: 15px;
    color: black;
    margin: 10px;
}

.lightblue{
    flex: 1;
    order: 1;
    background-color: #47bfff;
    padding: 15px;
    color: black;
     margin: 10px;
     align-items: flex-start;
}

.darkerblue{
    flex: 1;
    order: 3;
    background-color: #1c39ba;
    padding: 15px;
     color: black;
      margin: 10px;
}

body{
    background-color: black;
    color: white;
}

a:hover{
    font-size: 1.1em;
    transition:1s;
}

h2{
    text-align: center;
    color:#4f7bff;
}

.info{
    text-align: center;
    color: white;
}
