a{
    color: white;
    text-decoration: none;
    padding: 10px;
}

h1{
    font-size: 50px;
    color: #757574;
}

.hover{
    text-decoration: underline;
    color: red;
}

.info{
    max-width: 1300px;
    margin: 40px auto 0 auto;
    line-height: 1.65;
    padding: 20px 50px;
    display: flex;
}

.lightgray{
    flex: 1;
    order: 2;
    background-color: #abaaa8;
    padding: 15px;
    color: black;
    margin: 10px;
}

.gray{
    flex: 1;
    order: 1;
    background-color: #757574;
    padding: 15px;
    color: black;
     margin: 10px;
     align-items: flex-start;
}

.white{
    flex: 1;
    order: 3;
    background-color: #fffdfa;
    padding: 15px;
     color: black;
      margin: 10px;
}

body{
    background-color: black;
    color: white;
}

a:hover{
    font-size: 1.1em;
    transition:1s;
}

h2{
    color: #abaaa8;
    text-align: center;
}

.info{
    text-align: center;
    color: white;
}
